p, h4, h5 {
	font-family: 'Amatic SC', cursive;
    font-size: 48px;
    color: white;
    text-align: center;
}

h1 {
	font-family: 'Pangolin', cursive;
    font-size: 24px;
    color: #346c89;
    text-align: center;
}

h2 {
	font-family: 'Amatic SC', cursive;
    font-size: 36px;
    color: #959dff;
    text-align: center;
}

h3 {
	font-family: 'Pangolin', cursive;
    font-size: 24px;
    color: powderblue;
    text-align: center;
}
h4 {
	font-family: 'Amatic SC', cursive;
    font-size: 48px;
    color: #4270a5;
    text-align: center;
}

h6 {
	font-family: 'Amatic SC', cursive;
    font-size: 18px;
    color: #959dff;
    text-align: center;
}
